head{
    color:chartreuse;
    text-align: center;
}
body{
   background:aqua;
}
h1{
    color:chartreuse;
    text-align: center;
}
ul{
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }
  
  #london{
    color:darkmagenta
  }